@media (min-width: 768px) {
	.leftanchor {
		opacity: 0;
	}
	.rightanchor {
		opacity: 0;
	}
}

body {
	background-image: url('~./img/intro-bg.jpg');
	background-size: cover;
}

audio {
    background-color: red;
}

.nowrap {
	word-wrap: break-word;
}

.hoveropaque {
	opacity: 0.50
}
.hoveropaque:hover {
	opacity: 0.9
}
.black {
	color: black;
}

* {
    scrollbar-face-color: #367CD2;
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-3dlight-color: #FFFFFF;
    scrollbar-darkshadow-color: #FFFFFF;
    scrollbar-track-color: #FFFFFF;
    scrollbar-arrow-color: #FFFFFF;
}
*::-webkit-scrollbar {
    width: 12px;
}
*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #002a4d);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
*::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #002a4d;
    -webkit-box-shadow: inset 0 0 6px #002a4d);
}
