
@media (min-width: 768px) {
	#left {
		overflow-y: scroll;
		height: 50vh;
	}

	#right {
		overflow-y: scroll;
		height: 50vh
	}
}

body {
	text-align: center;
	font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;
}

div {
	margin-top: 2em;
}
