@media (min-width: 768px) {
	.leftanchor {
		opacity: 0;
	}
	.rightanchor {
		opacity: 0;
	}
	#left {
		overflow-y: scroll;
		height: 89vh;
	}
	#right {
		overflow-y: scroll;
		height: 89vh;
	}
}

audio {
    background-color: rgb(28, 119, 199);
}

#left {
	text-align: center
}

#right {
	word-wrap: break-word; /* prevent long URLs from widening the view. */
}

.nowrap {
	word-wrap: break-word;
}

.hoveropaque {
	opacity: 0.50
}
.hoveropaque:hover {
	opacity: 0.9
}
.black {
	color: black;
}
